{% block title %}Add {{ to_username }} as a Friend! Tee time id: {{ to_teetime.id }} {% endblock %}

<p>TESTING TEE TIME ADDING</p>

{% for us in to_teetime.tee_time_users.all %}
	<p>test in loop actuals</p>
	{{us.user.username}}
{% endfor %}

{% for us in to_teetime.tee_time_potential_users.all %}
	<p>test in loop potentials</p>
	{{us.user.username}}
{% endfor %}
<br>
Username: {{ to_username }}

{% if not to_username == request.user.username %}
{% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
<form method="post">
{% csrf_token %}
<input type="hidden" name="to_username" value="{{ to_username }}" />
<input type="submit" value="add {{ to_username }} as a friend/teetime" />
</form>
{% endif %}