{% extends "base.html" %}

{% block title %}Request a Shuttle{% endblock %}

{% block body_class %}normal-background{% endblock %}

{% block content %}
<div>
    <br><br><br><br>

    {% if loggedIn %}
    <div class="centered">
        <h2 class='page-heading'>Request a Shuttle Ride</h2>
        <p>
            Use the form below to request a ride along one of our routes at your desired time<br>
            and date. Note that one route may serve multiple courses. You may also propose a<br>
            non-default course or route, but keep in mind that these tend to be harder to fill.<br>
            ________________________________________________
        </p>
        <br>
    </div>

    <div class="centered">
        <form action="{% url 'bt_site:shuttle_tee_time' %}" enctype="multipart/form-data" method="post" class='form-background'>
            {% csrf_token %}
            <div class='form-field-title'>{{ shuttle_time_form.as_p }}</div>
            <button type="submit" class='btn btn-outline-success'>Submit Shuttle Request</button>
        </form>
    </div>
</div>
    
    {% else %}
    <h1 class='centered'>You must log in or sign up to submit a shuttle time!</h1>
    
    {% endif %}

{% endblock %}