{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body_class %}normal-background{% endblock %}

{% block content %}
<div class='centered'>
    <br><br><br>
    <h2>Welcome to the best way to access golf around NYC!</h2>
    <br>
    <h4>Here's how it works:</h4>
    <br>
    <h6>1. Create your profile - it takes less than 30 seconds!</h6>
    <br>
    <h6>2. Check out some of the available shuttle offerings. These include pre-set routes from CourseCaddy<br>
    that are optimized for your convenience and savings, but it also includes ad-hoc requests from other users.<br>
    If you'd like to submit a request for a non pre-set route, you can do that too!</h6>
    <br>
    <h6>3. Sign up for any shuttles you'd like to reserve a spot on! In order to keep costs low for our customers,<br>
        we will only run the shuttle if there are a minimum of 4 people signed up.
    </h6>
    <br>
    <h6>4. Check out the social portion of the site and see other users on the platform! You can use the built-in<br>
        messaging feature to set up games and coordinate playing with new people, or just encourage them to sign<br>
        on for certain shuttles. The more people on the same page, the more you save!
    </h6>
    <br><br>
    <h6>Got any questions or feedback? Feel free to reach out to us at CourseCaddy@gmail.com!</h6>
</div>
{% endblock %}