{% extends "base.html" %}

{% block title %}Request a Shuttle{% endblock %}

{% block body_class %}signup-background{% endblock %}

{% block content %}
<br><br><br>
{% if loggedIn %}
<br><br><br><br><br>
    <h1 class='centered white-text'>You're already logged in!</h1>
    <div class="logout-button">
        <a href="{% url 'bt_site:logout' %}">Logout</a></button>
    </div>

{% else %}
    <div class="centered">
    <br><br>
    <h1 class='white-text'>Log In</h1>
    <br><br>
    <form method="post" action="{% url 'bt_site:login' %}" class='form-background'>
        {% csrf_token %}
        <p class='form-field-title'>Username: <input type="text" name="username"></p>
        <p class='form-field-title'>Password: <input type="password" name="password"></p>
        <button type="submit">Log In</button>
    </form>
    </div>
    <br>
    <div class="centered">
        <button><a href="{% url 'bt_site:signup' %}" class='black-link'>Sign Up</a></button>
    </div>
{% endif %}

{% endblock %}

