{% extends "base.html" %}

{% block title %}My Rides{% endblock %}

{% block body_class %}normal-background{% endblock %}

{% block content %}
<div>
    <br><br><br><br><br>
    <p>Display my tee times and ride partners here</p>
    <br><br><br>

<div class='centered'>
    {% if loggedIn %}
    {% for tee in shuttle_times %}
       <h1>Tee Time #{{ forloop.counter }}</h1>

       <h5>{{tee.shuttle_time_date}} | {{tee.shuttle_destination}} </h5>

       <table class='table' id="tee-time-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Status</th>
            </tr>
            {% for pot in tee.shuttle_potential_users.all %}
            <tr>
                <td>{{pot.user.username}}</td>
                <td>{{pot.user.email}}</td>
                <td>{{pot.user_phone_number}}</td>
                <td>
                    <a href="{% url 'bt_site:accept_teetime_request' pot.user.username tee.id %}">Pending Request</a>
                </td>    
            </tr>
            {% endfor %}
            {% for act in tee.shuttle_users.all %}
            <!--Should probably have this loaded in the view-->
            {% if user.username != act.user.username %}
                <tr>
                    <td>{{act.user.username}}</td>
                    <td>{{act.user.email}}</td>
                    <td>{{act.user_phone_number}}</td>
                    <td>Already Matched!</td>    
                </tr>
            {% endif %}
       {% endfor %}
        </table>
    {% endfor %}
</div>

    {% else %}
    <h1 class='centered'>You must log in or sign up to view your shuttle times!</h1>
    {% endif %}

{% endblock %}