{% extends "base.html" %}

{% block title %}Request a Shuttle{% endblock %}

{% block content %}

{% block body_class %}signup-background{% endblock %}
<br><br><br>

{% if loggedIn %}
<h1 class='centered'>You're already logged in! Are you sure you want to create a new account?</h1>

{% else %}
<div class="centered">
    <h1 class="white-text">Join Now!</h1>
    <br>
</div>

<div class='centered'>
    <form action="{% url 'bt_site:signup' %}" enctype="multipart/form-data" method="post" class='form-background'>
        {% csrf_token %}
        <div class='form-field-title'>
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
{% endif %}

{% endblock %}
    