{% extends "base.html" %}

{% block title %}Social{% endblock %}

{% block body_class %}normal-background{% endblock %}

{% block content %}

<div class='centered'>
    {% if loggedIn %}
    <br><br><br>
    <h2 class='page-heading'>Find Travel and Playing Partners</h2>
        <p>
            Feel free to reach out to other users on the platform via the built-in 1-on-1 chat feature!<br>
            You can use this to try to find other people to play casually or competitively with, or just<br>
            to encourage someone to sign up for your shuttle as well to lower the cost for everyone!<br>
            ________________________________________________
        </p>
        <br>

    <div>
    <table class='table table-striped table-dark table-hover' id="tee-time-table">
        <thead class='thead-dark'>
        <tr>
                    <th>Name</th>
                    <th>Handicap</th>
                    <th>Style</th>
                    <th>Pace of Play</th>
                    <th>Looking for playing partners?</th>
                    <th>Send Message</th>
        </tr>
    </thead>
    <!-- <tr class='table-light'>
        <td>{{request.user.username}}</td>
        <td>{{request.user_handicap}}</td>
        <td>{{request.user_style}}</td>
        <td>{{request.user_pace}}</td>
        <td>{{request.user_partners}}</td>
        <td>N/A</td>
    </tr> -->
    {% for user in all_users %}
    <tr>
        <td>{{user.user.username}}</td>
        <td>{{user.user_handicap}}</td>
        <td>{{user.user_style}}</td>
        <td>{{user.user_pace}}</td>
        <td>{{user.user_partners}}</td>
        <td><a href="{% url 'bt_site:message' user.user.id %}">Click Here</a></button></td>
    </tr>
</div>
        

    {% endfor %}

    {% else %}
    <h1 class='centered'>You must log in or sign up to view your shuttle times!</h1>
    {% endif %}
</div>
{% endblock %}